body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.show {

}

table.show th {
	border: 1px solid #e4e4e4
}

table.show td {
	border: 1px solid #e4e4e4
}